<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoxModel</title>
</head>
<body>
    
    <div className='title_box'>BoxModel
        <div className="card  ">
            <div className="carditem"> img</div>
                <div className="cardtitle"> Card 1
                    <div className="cardcontent">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, magnam.</p>
                    </div>
                </div>
            
            </div>

            <div className="card  ">
            <div className="carditem"> img </div>
                <div className="cardtitle"> Card 1
                    <div className="cardcontent">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, magnam.</p>
                    </div>
                </div>
            
            </div>
        </div>
</body>
</html>